## Part-4: Stress test: 20 Million elements (movie ratings)

In [1]:
import pandas as pd

# Load ratings data
ratings_df = pd.read_csv("ratings.csv")

# Load movies data
movies_df = pd.read_csv("movies.csv")

## Inspect Dataframes

In [4]:
#ratings_df
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [16]:
memory_usage1 = movies_df.memory_usage(deep=True).sum()
print(f"Memory usage: {memory_usage1 / 1024**2:.2f} MB")

Memory usage: 9.64 MB

In [15]:
memory_usage2 = ratings_df.memory_usage(deep=True).sum()
print(f"Memory usage: {memory_usage2 / 1024**2:.2f} MB")

Memory usage: 762.94 MB

In [5]:
# Merge the two data frames on movieId
merged_df = pd.merge(ratings_df, movies_df, on="movieId")[["userId", "title"]]

In [9]:
#Inspect the join
merged_df.head()

   userId                title
0       1  Pulp Fiction (1994)
1       3  Pulp Fiction (1994)
2       4  Pulp Fiction (1994)
3       5  Pulp Fiction (1994)
4       7  Pulp Fiction (1994)

### This is an arithmetic operation where ** represents exponentiation. So 1024**2 computes 1024 raised to the power of 2, which equals 1048576. This value is used for converting the memory usage from bytes to megabytes (since 1 megabyte equals 1024×1024 bytes).

In [6]:
memory_usage = merged_df.memory_usage(deep=True).sum()
print(f"Memory usage: {memory_usage / 1024**2:.2f} MB")

Memory usage: 2342.12 MB